<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form表单</title>
</head>
<body>
        <form action="" method="post">
            姓名:&ensp;<input type="text" name="name"><br><br>
<!--            男<input type="radio" gender="男">-->
<!--            女<input type="radio" gender="女"><br>-->
            <input type="submit" name="提交">
        </form>
</body>
</html>